{% extends "base.html" %}

{% block content %}
<div class="columns is-vcentered">
  <h3 class="is-size-3 column is-one-quarter">Events</h3>
  <div class="column">
    <form method="post">
      <input class=" button is-warning is-rounded" type="submit" name="deactivate" value="Deactivate"> 
    </form>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Station</th>
      <th>Event</th>
      <th>Time Recorded</th>
    </tr>
  </thead>
  {% for row in data %}
  <tr>
    <td>{{row['station']}}</td>
    <td>{{row['event_name']}}</td>
    <td>{{row['time_recorded'].strftime("%A, %d %b %Y, %-I:%M:%S %p")}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}