{% extends "base.html" %}

{% block content %}
<div class="columns is-vcentered">
  <h3 class="is-size-3 column is-one-quarter">Events</h3>
  <div class="column">
    <form method="POST">
      <input name="deactivate" class="is-hidden" />
      <button class=" button is-warning is-rounded" type="submit" title="Deactivate global alarm">Deactivate</button>
    </form>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Station</th>
      <th>Event</th>
      <th>Time Recorded</th>
      <th>Actions</th>
    </tr>
  </thead>
  {% for row in data %}
  <tr>
    <td>{{row['station']}}</td>
    <td>{{row['event_name']}}</td>
    <td>{{row['time_recorded'].strftime("%A, %d %b %Y, %-I:%M:%S %p")}}</td>
    <td>
      <form method="POST">
        <input name="activate" value="{{row['station']}}" class="is-hidden" />
        <button type="submit" class="button is-danger is-small is-rounded"
          title="Activate fire alarm for station">Activate</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}